Options -Indexes
<FilesMatch "\.(sql|log|env)$">
    Order allow,deny
    Deny from all
</FilesMatch>
<IfModule mod_php.c>
    php_value upload_max_filesize 5M
    php_value post_max_size 6M
</IfModule>
